/*-- scss:rules --*/
$font-size-root: "FZFWZhuZiAYuanJW";

.blog {
  .blog-entry {
    display: flex;
    align-items: center; /*Vertical align*/
    justify-content: space-between;
    flex-direction: row;
    column-gap: 1.5em;
    a, p.listing-date {
      font-family: "FZFWZhuZiAYuanJW Bold", sans-serif;
      font-size: 1em;
      margin-bottom: 0px;
      margin-top: 0px;
    }
    p.listing-date {
      font-size: .9em;
      font-family: "FZFWZhuZiAYuanJW", sans-serif;
      color: $lightwhite;
    }
  }
}

body, p, li, a{ // main font family of post content
  font-family: "FZFWZhuZiAYuanJW", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
}
strong, figcaption {
  font-family: "FZFWZhuZiAYuanJW Bold", sans-serif;
}

h1, h2, h3, .callout-title-container {
  font-family: "FZFWZhuZiAYuanJW", sans-serif;
  letter-spacing: 1.6px;
  font-weight: normal;
}

div.quarto-title-meta-heading { // "Author" and "Date" 
  color: $tao-you;
}
div.quarto-title-meta-contents {// content of "Author" and "Date" 
  color: $tao-you;
  p {font-family: "MiSans", sans-serif;}
}

div.quarto-title.column-body {
  h1 {
    font-family: "FZFWZhuZiAYuanJW";
    font-size: 1.7rem;
  }
}

/* Table styling */
table {
  font-family: "FZFWZhuZiAYuanJW", sans-serif;
  font-size: 0.9rem;
  width: 100%;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
}

th {
  background-color: #f8f9fa;
  border-bottom: 2px solid #dee2e6;
  padding: 0.25em;
  text-align: left;
}

td {
  padding: 0.25em;
  border-bottom: 1px solid #dee2e6;
}

/* Striped tables */
tr:nth-child(even) {
  background-color: #f8f9fa;
}

/* Hover effect */
tr:hover {
  border: 1.5px solid $orange;
}