/*-- scss:defaults --*/
/* Lesson Color Scheme  */
.objectives {
  background-color:#daee8420
}
.discussion {
  background-color:#eec27520
}

.objectives {
  padding:0 0 5px 5px;
  border:1px solid;
  border-color:#daee84;
  border-radius:4px;
  margin:15px 5px 10px 0
}
.objectives h2 {
  padding-top:5px;
  padding-bottom:5px;
  font-size:20px;
  background:linear-gradient(to bottom, #daee84, #def090);
  border-color:#daee84;
  margin-top:0px;
  margin-left:-5px
}
.objectives h2:before {
  font-family:'Glyphicons Halflings';
  content:"⦿";
  float:left;
  padding-left:5px;
  padding-right:5px;
  display:inline-block;
  -webkit-font-smoothing:antialiased
}

.discussion {
  padding:0 0 5px 5px;
  border:1px solid;
  border-color:#eec275;
  border-radius:4px;
  margin:15px 5px 10px 0
}
.discussion h2 {
  padding-top:5px;
  padding-bottom:5px;
  font-size:20px;
  background:linear-gradient(to bottom, #eec275, #f0c883);
  border-color:#eec275;
  margin-top:0px;
  margin-left:-5px
}
.discussion h2:before {
  font-family:'Glyphicons Halflings';
  content:"❖";
  float:left;
  padding-left:5px;
  padding-right:5px;
  display:inline-block;
  -webkit-font-smoothing:antialiased
}

div.rmdnote {
  background-image: url("images/robot.png") ;
}
div.rmdwarning {
  background-image: url("images/error.png");
  background-color: #eab0c41a !important;
}

div.rmdnote,
div.rmdwarning {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px 1.5em;
  min-height: 120px;
  color: #1a162dcc;
  background-color: #91CBD738;
  border-top: 7pt solid #a19ea936;
  max-width: 100%;
  line-height: 1.75em;
  font-size: 0.85em;
  letter-spacing: 1pt;
  margin-bottom: 1.5em;
}

div.macwindow {
  padding: 1em;
  margin: 1em 0;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px 1.5em;
  min-height: 120px;
  color: #1a162dcc;
  background-color: #91CBD738;
  border-top: 20pt solid #eab0c41a;
  border-radius: 10px;
  max-width: 100%;
  line-height: 1.75em;
  font-size: 0.85em;
  letter-spacing: 1pt;
  margin-bottom: 1.5em;
  box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
}

div.maccaution {
  padding: 1em;
  margin: 1em 0;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px 1.5em;
  min-height: 120px;
  color: #1a162dcc;
  background-color: color-mix(in srgb, #EE6331, white 90%);
  border-top: 20pt solid #eab0c41a;
  border-radius: 10px;
  max-width: 100%;
  line-height: 1.75em;
  font-size: 0.85em;
  letter-spacing: 1pt;
  margin-bottom: 1.5em;
  box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
}

div.maccaution::before {
  content: "! Caution";
  color: #EE6331;
  font-weight: bold;
}

.rmdquote {
    padding: 1em;
    margin: 1em 0;
    min-height: 120px;
    color: rgba(26, 22, 45, .7);
    background-color: color-mix(in srgb, #222, white 95%);
    border-radius: 10px;
    max-width: 100%;
    line-height: 1.75em;
    font-size: .95em;
    letter-spacing: 1pt;
    margin-bottom:1.5em
}

.rmdquote p, .rmdquote li {
    margin:1em 1em
}

div.rmdquote::before {
    position: relative;
    display: inline-block;
    width: 2pc;
    height: 2pc;
    top: 1pc;
    background: url("images/blockquote.svg");
    content: "";
    background-size:2pc
}

div.rmdquote::after {
    display: inline-block;
    width: 2pc;
    height: 2pc;
    position: relative;
    float: inline-end;
    bottom: 1pc;
    background: url("images/blockquote.svg");
    content: "";
    background-size: 2pc;
    transform: rotate(180deg)
}