/*-- scss:rules --*/
.menu-text {
  font-family: "Red Hat Text", sans-serif;
  letter-spacing: 1px;
  font-weight: normal;
  color: $menutext-bg;
}
h1, h2, h3 {
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 1.8px;
  font-weight: normal;
}
p { // main font family of post content
  font-family: 'Tenor Sans', sans-serif;
  font-weight: normal;
}

/*-- scss:defaults --*/
$darkteal: #008080;
$lightwhite: #c0c0c0;
$gray: #64605f;
$navbar-bg: rgb(34, 34, 34);
$menutext-bg: #FFFFFF;
$code-bg: rgb(34, 34, 34); // for in-line code background
$pre-bg: $darkteal;
$code-block-bg: #475c6c; // code block's bg
$body-bg: rgb(34, 34, 34);

.cell-output {
  background-color: $navbar-bg;
  border-radius: 4px;
}

.cell-output pre { border: $darkteal 1px dashed;}

#quarto-content {
  color: $lightwhite;
  /*background-color: black;*/
}
$green:     #00D46A;
$primary:   $green !default;
.icon-line {
  display: block;
  background: $primary;
  width: 100%;
  height: 12px;
  margin: auto;
  display: table;
  margin-top: -6px;
  margin-bottom: -6px;
}
.text-line {
  display: block;
  background: $primary;
  width: 0%;
  height: 3px;
  margin: auto;
  display: table;
  margin-top: -1px;
  margin-bottom: -6px;
}

.blockquote {
  color: $gray;
}

.listing-date {
  color: $lightwhite;
}

.listing-author{
  color: $lightwhite;
}

