@keyframes line-expand {
  from {width: 0%;}
  to {width: 90%;}
}

/* Cursor Customization */
body {
  cursor: url("https://img.icons8.com/?size=20&id=vTiD01dSnldt&format=png&color=000000"), auto;    
}

a:link {
  cursor: url("https://img.icons8.com/?size=20&id=42917&format=png&color=000000"), auto;    
}

button:hover.code-copy-button {
  cursor: url("https://img.icons8.com/?size=20&id=42917&format=png&color=000000"), auto;
}
/*end Cursor Styling*/

.navbar-title:hover > .icon-line {
  animation-duration: 600ms;
  animation-name: line-expand;
}

.menu-text:hover > .text-line {
  animation-duration: 200ms;
  animation-name: line-expand;
  animation-fill-mode: forwards;
}

/* Dissuss: how to switch animation conditional on light or dark theme */
/* https://github.com/quarto-dev/quarto-cli/discussions/7713 */
body.quarto-light .menu-text:hover > .menutext-home {
    animation-duration: 400ms;
    animation-name: changecolor-home-light;
    animation-fill-mode: forwards;
}
body.quarto-dark .menu-text:hover > .menutext-home {
    animation-duration: 400ms;
    animation-name: changecolor-home-dark;
    animation-fill-mode: forwards;
}
@keyframes changecolor-home-light {
  from {color: #000000;}
  to {color: #D4006A;}
}
@keyframes changecolor-home-dark {
  from {color: #FFFFFF;}
  to {color: #D4006A;}
}

body.quarto-light .menu-text:hover > .menutext-blog {
  animation-duration: 400ms;
  animation-name: changecolor-blog-light;
  animation-fill-mode: forwards;
}
body.quarto-dark .menu-text:hover > .menutext-blog {
  animation-duration: 400ms;
  animation-name: changecolor-blog-dark;
  animation-fill-mode: forwards;
}
@keyframes changecolor-blog-light {
  from {color: #000000;}
  to {color: #6636a9;}
}
@keyframes changecolor-blog-dark {
  from {color: #FFFFFF;}
  to {color: #6636a9;}
}
.menu-text:hover > .text-line-blog {
  animation-duration: 400ms;
  animation-name: line-expand;
  animation-fill-mode: forwards;
}



/* Color switching for dashboar */
body.quarto-light .menu-text:hover > .menutext-db {
  animation-duration: 400ms;
  animation-name: changecolor-db-light;
  animation-fill-mode: forwards;
}
body.quarto-dark .menu-text:hover > .menutext-db {
  animation-duration: 400ms;
  animation-name: changecolor-db-dark;
  animation-fill-mode: forwards;
}
@keyframes changecolor-db-light {
  from {color: #000000;}
  to {color: #6ec742;}
}
@keyframes changecolor-db-dark {
  from {color: #FFF;}
  to {color: #6ec742;}
}
.menu-text:hover > .text-line-db {
  animation-duration: 400ms;
  animation-name: line-expand;
  animation-fill-mode: forwards;
}



/* Color switching for C.V. */
body.quarto-light .menu-text:hover > .menutext-cv {
  animation-duration: 400ms;
  animation-name: changecolor-cv-light ;
  animation-fill-mode: forwards;
}
body.quarto-dark .menu-text:hover > .menutext-cv {
  animation-duration: 400ms;
  animation-name: changecolor-cv-dark ;
  animation-fill-mode: forwards;
}
@keyframes changecolor-cv-light {
  from {color: #000000;}
  to {color: #4b74a9;}
}
@keyframes changecolor-cv-dark {
  from {color: #FFF;}
  to {color: #4b74a9;}
}
.menu-text:hover > .text-line-cv {
  animation-duration: 400ms;
  animation-name: line-expand;
  animation-fill-mode: forwards;
}

/* Color switching for Project */
body.quarto-light .menu-text:hover > .menutext-pj {
  animation-duration: 400ms;
  animation-name: changecolor-pj-light;
  animation-fill-mode: forwards;
}
body.quarto-dark .menu-text:hover > .menutext-pj {
  animation-duration: 400ms;
  animation-name: changecolor-pj-dark;
  animation-fill-mode: forwards;
}
@keyframes changecolor-pj-light {
  from {color: #000000;}
  to {color: #ffd942;}
}
@keyframes changecolor-pj-dark {
  from {color: #FFF;}
  to {color: #ffd942;}
}
.menu-text:hover > .text-line-pj {
  animation-duration: 400ms;
  animation-name: line-expand;
  animation-fill-mode: forwards;
}

/* Color switching for Note */
body.quarto-light .menu-text:hover > .menutext-note {
  animation-duration: 400ms;
  animation-name: changecolor-note-light;
  animation-fill-mode: forwards;
}
body.quarto-dark .menu-text:hover > .menutext-note {
  animation-duration: 400ms;
  animation-name: changecolor-note-dark;
  animation-fill-mode: forwards;
}
@keyframes changecolor-note-light {
  from {color: #000000;}
  to {color: #e3abdb;}
}
@keyframes changecolor-note-dark {
  from {color: #FFF;}
  to {color: #e3abdb;}
}
.menu-text:hover > .text-line-note {
  animation-duration: 400ms;
  animation-name: line-expand;
  animation-fill-mode: forwards;
}



/* Color switching for 中文 */
body.quarto-light .menu-text:hover > .menutext-cn {
  animation-duration: 400ms;
  animation-name: changecolor-cn-light;
  animation-fill-mode: forwards;
}
body.quarto-dark .menu-text:hover > .menutext-cn {
  animation-duration: 400ms;
  animation-name: changecolor-cn-dark;
  animation-fill-mode: forwards;
}
@keyframes changecolor-cn-light {
  from {color: #000000;}
  to {color: #666699;}
}
@keyframes changecolor-cn-dark {
  from {color: #FFF;}
  to {color: #ccccff;}
}
.menu-text:hover > .text-line-cn {
  animation-duration: 400ms;
  animation-name: line-expand;
  animation-fill-mode: forwards;
}


/* Vertical tabset see https://github.com/quarto-dev/quarto-cli/issues/419#issuecomment-2138458893*/
/* .nav-pills .panel-tabset {} */