//@import 'https://fonts.googleapis.com/css2?family=Maven+Pro:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Nunito:wght@300;400;500&family=JetBrains+Mono';
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/*-- scss:rules --*/
@font-face {
    font-family: 'Taub Sans';
    src: local('Taub Sans Regular'), local('Taub-Sans-Regular'),
         url('./fonts/TaubSans-Regular/TaubSans-Regular.woff2') format('woff2'),
         url('./fonts/TaubSans-Regular/TaubSans-Regular.woff') format('woff'),
         url('./fonts/TaubSans-Regular/TaubSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Palatino';
    src: local('Palatino'), local('Palatino'),
         url('./fonts/Palatino/Palatino.woff') format('woff'),
         url('./fonts/Palatino/Palatino.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

.menu-text {
  font-family: "Jost", sans-serif;
  letter-spacing: 1px;
  font-weight: normal;
  color: $menutext-bg;
}
h1, h2, h3 {
  //color: #333333; 
  //font-family: "Ysabeau Office", sans-serif;
  font-family: "Palatino", sans-serif;
  letter-spacing: 1.6px;
  letter-spacing: 0.8px;
  font-weight: normal;
}
p { // main font family of post content
  font-family: 'Jost', sans-serif;
  font-weight: normal;
}

/* background color */
//body {
//  background-color: #e6f4f7;
//}

/*-- scss:uses --*/
// colors
$light-soft-pink:  #E8E6D9;
$dark-sage-green: #98A08D;
$darkteal: #008080;
$lightwhite: #c0c0c0;
$gray: #64605f;
$orange: #df5925;
$menutext-bg: #000000;
$soft-color1: #eeeee4;
$navbar-bg: $soft-color1; // navigation bar bg
$body-bg: $soft-color1; // body bg
$code-bg: $soft-color1; // code's bg
$code-block-bg: $light-soft-pink; // code block's bg
$pre-bg: $dark-sage-green; // code's bg
$input-group-addon-bg: $soft-color1;
$code-block-bg-alpha: -.3; // Code blocks
$link-color: $orange;

/* output color for R chunck */
.cell-output {
  background-color: $light-soft-pink;
  border-radius: 4px;
}

.cell-output pre { border: black 1px solid;}

// Animation logo: https://ellakaye.co.uk/posts/2023-04-11_animated-logo/
$pink:      #e3abdb;
$primary:   $darkteal !default;
.icon-line {
  display: block;
  background: $primary;
  width: 100%;
  height: 12px;
  margin: auto;
  display: table;
  margin-top: -6px;
  margin-bottom: -6px;
}
.text-line {
  display: block;
  background: $primary;
  width: 0%;
  height: 3px;
  margin: auto;
  display: table;
  margin-top: -1px;
  margin-bottom: -6px;
}
.text-line-blog {
  display: block;
  background: #6636a9;
  width: 0%;
  height: 3px;
  margin: auto;
  display: table;
  margin-top: -1px;
  margin-bottom: -6px;
}
.text-line-db {
  display: block;
  background: #6ec742;
  width: 0%;
  height: 3px;
  margin: auto;
  display: table;
  margin-top: -1px;
  margin-bottom: -6px;
}
.text-line-cv {
  display: block;
  background: #4b74a9;
  width: 0%;
  height: 3px;
  margin: auto;
  display: table;
  margin-top: -1px;
  margin-bottom: -6px;
}
.text-line-pj {
  display: block;
  background: #ffd942;
  width: 0%;
  height: 3px;
  margin: auto;
  display: table;
  margin-top: -1px;
  margin-bottom: -6px;
}
.text-line-cn {
  display: block;
  background: #666699;
  width: 0%;
  height: 3px;
  margin: auto;
  display: table;
  margin-top: -1px;
  margin-bottom: -6px;
}
.text-line-note {
  display: block;
  background: #e3abdb;
  width: 0%;
  height: 3px;
  margin: auto;
  display: table;
  margin-top: -1px;
  margin-bottom: -6px;
}



