@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

// monospace
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

// Quarto Bootstrap variables and rules:
// Bootstrap variables: https://github.com/quarto-dev/quarto-cli/blob/main/src/resources/formats/html/bootstrap/_bootstrap-variables.scss
// Bootstrap rules: https://github.com/quarto-dev/quarto-cli/blob/main/src/resources/formats/html/bootstrap/_bootstrap-rules.scss

/*-- scss:rules --*/
@font-face {
    font-family: 'FZFWZhuZiAYuanJW';
    src: local('FZFWZhuZiAYuanJW Regular'), local('FZFWZhuZiAYuanJW-Regular'),
         url('./fonts/FZFWZhuZiAYuanJW/FZFWZhuZiAYuanJWR.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'FZFWZhuZiAYuanJW Bold';
    src: url('./fonts/FZFWZhuZiAYuanJW/FZFWZhuZiAYuanJWB.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'MiSans';
    src: local('MiSans Regular'), local('MiSans-Regular'),
         url('./fonts/MiSans/MiSans-Regular.woff2') format('woff2'),
         url('./fonts/MiSans/MiSans-Regular.woff') format('woff'),
         url('./fonts/MiSans/MiSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'MiSans Bold';
    src: local('MiSans Bold'), local('MiSans-Bold'),
         url('./fonts/MiSans/MiSans-Bold.woff2') format('woff2'),
         url('./fonts/MiSans/MiSans-Bold.woff') format('woff'),
         url('./fonts/MiSans/MiSans-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: bold;
  }
@font-face {
    font-family: 'Taub Sans';
    src: local('Taub Sans Regular'), local('Taub-Sans-Regular'),
         url('./fonts/TaubSans-Regular/TaubSans-Regular.woff2') format('woff2'),
         url('./fonts/TaubSans-Regular/TaubSans-Regular.woff') format('woff'),
         url('./fonts/TaubSans-Regular/TaubSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Palatino';
    src: local('Palatino'), local('Palatino'),
         url('./fonts/Palatino/Palatino.woff') format('woff'),
         url('./fonts/Palatino/Palatino.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }


/*-- scss:uses --*/
// colors
// https://getbootstrap.com/docs/5.1/customize/sass/
$blue: #447099;
$orange: #EE6331;
$green: #72994E;
$red: #9A4665;
$indigo: #9A4665;
$cyan: #419599;
$teal: #419599;
$pink:  #e3abdb;
$freeze-purple: #e5eaf5;

// 青花瓷主题
$shen-qing: #212A54; // 深青色
$qian-qing: #234C73; // 浅青色
$cui-qing: #263E47; // 翠青色
$dan-qing: #F2F8FF; // 淡青色
$hutao-hong: #793328; // 胡桃红
$dan-feng: #FFF8F0; // 淡粉色
$tao-you: #C0BAB6; // 陶釉色

$soft-color1: #FAF9F6;
$dark-sage-green: #98A08D;
$darkteal: #008080;
$lightwhite: #c0c0c0;
$gray: #64605f;

$primary: $shen-qing !default;
$warning: #EE6331;
$info: #419599;
$success: #72994E;
$danger: #9A4665;
$caution: #EE6331;

$body-bg: $soft-color1; // body background color
$code-bg: #eef1e0; // code block's bg
$code-color: var(--bs-code-color);
$body-color: #404041;
$headings-color: #404041;
$menutext-bg: #000000;
$input-group-addon-bg: $darkteal;
$link-color: $cui-qing;
$link-hover-color: $orange;
$breadcrumb-divider-color: $orange;
$breadcrumb-border-radius:  0.30em;

//* Enhanced Navbar Styles */
.navbar-nav  { // active navigation tab styling
    a.nav-link.active {
        background-image: url(images/qinghua_bian.png);
        background-size: 100% 100%;
        .menu-text{
            color: $headings-color;
            font-family: "FZFWZhuZiAYuanJW Bold";
        }
    }
}

.navbar, .quarto-banner, nav.quarto-secondary-nav {
  background-color: transparent !important;
  backdrop-filter: blur(5px) !important;
  padding-top: 1px !important;
  padding-bottom: 5px !important;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg,
.navbar > .container-xl,
.navbar > .container-xxl {
  padding-left: 10vw;
  padding-right: 10vw;
}

/* Responsive Navbar for Mobile */
@media (max-width: 768px) {
    .navbar {
        padding: 10px;
    }
    .navbar > .container,
    .navbar > .container-fluid {
        padding-left: 5vw;
        padding-right: 5vw;
        flex-direction: column;
    }
    .navbar-nav {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}


h1, h2 {text-transform: capitalize;}

h1, h2, h2#toc-title, h3, h4, .callout-title-container {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1.2px;
  font-weight: 500;
}

// Add shadow to images
// img { box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );}

body, p, li, a{ // main font family of post content
  font-family: "Abel", sans-serif;
  font-weight: 400;
}

p {
  line-height: 2em;
  margin-bottom: 2em;
  margin-top: 2em;
  em {
    text-decoration-line: underline;
    text-decoration-color: $gray;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: none; // overthorough the text
  }
}

li {
  line-height: 2em;
}

label {
  font-family: "Abel", sans-serif;
}

strong {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
}

code.sourceCode { // Source Code
  font-family: "Roboto Mono", monospace;
  font-size: 0.875em;
}

.cell-output-stdout code {
  font-family: "Roboto Mono", monospace;
}

// Inline Code
p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
  border: 1px solid #b9c680;
  color: #404041;
}

p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
  background-color: #eef1e0;
  padding: .2em;
}



// https://quarto.org/docs/output-formats/html-themes.html#inline-code
/* Quarto title block */
div.quarto-title-banner {
  border-radius: 12px;
}

/* Quarto text block */
div.quarto-title.column-body {
  h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
  }
  display: block;
  border: 1px solid $gray;
  backdrop-filter: blur(5px);
  border-radius: 50px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 80px;
}

div.quarto-post a {
  color: $shen-qing;
  //text-decoration: none;
}

/* Source Code  */
pre.sourceCode.r::before, .language-r::before {
  content:"❆ ℝ";
}
pre.sourceCode.python::before {
  content:"⎔ Python"
}
pre.sourceCode.yaml::before {
  content:"♦ YAML"
}
pre.sourceCode.bash::before {
  content:"♣ BASH"
}
pre.sourceCode.markdown::before {
  content:"♤ Markdown"
}

button.code-copy-button {
  margin: 0px;
}

pre.sourceCode.r::before,
pre.sourceCode.python::before,
pre.sourceCode.yaml::before,
pre.sourceCode.markdown::before,
pre.sourceCode.bash::before {
  font-family: "MiSans", sans-serif;
  font-weight: bold;
  font-size: var(--bs-body-font-size);
  background-color: $dan-qing;
  color: $shen-qing;
  display: block;  /* Avoid extra spacing */
  padding: 1px 1px;
}

pre.sourceCode.r,
pre.sourceCode.python,
pre.sourceCode.yaml,
pre.sourceCode.markdown,
pre.sourceCode.bash {
  font-size: var(--bs-body-font-size);
  border-radius: 4px;
  padding: 1px 1px 1px; // Remove spacing around ::before content
}
pre.sourceCode.r {
  border-left: solid 3px $qian-qing;
}
pre.sourceCode.python {
  border-left: solid 3px $cui-qing;
}
pre.sourceCode.markdown {
  border-left: solid 3px $green;
}
pre.sourceCode.yaml {
  border-left: solid 3px $indigo;
}
pre.sourceCode.bash {
  border-left: solid 3px $gray;
}

/* output color for R chunck */
div.cell-output::before {
  content:" ⩥ OUTPUT";
  font-size: var(--bs-body-font-size);
  color: $tao-you;
  display: block;
  padding: 1px 1px 1px;
  font-family: "MiSans", sans-serif;
}
div.cell-output {
  //background-color: $freeze-purple;
  background-color: color-mix(in srgb, $shen-qing, white 90%);
  color: $shen-qing;
  border-radius: 4px;
  border-left: solid 3px $hutao-hong;
  font-family: "MiSans", sans-serif;
  // box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1), 0 3px 5px 0 rgba(0,0,0,0.1);
}

// Animation logo: https://ellakaye.co.uk/posts/2023-04-11_animated-logo/

.icon-line {
  display: block;
  background: $shen-qing;
  width: 100%;
  height: 3px;
  margin: auto;
  display: table;
  margin-top: -6px;
  margin-bottom: -6px;
}

.menu-text { // text for navigation bar and side bar
  font-family: "FZFWZhuZiAYuanJW", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0px;
  color: $gray;
}

.menu-text h3 {
  font-family: "Abel", sans-serif;
  color: $gray;
}

.sidebar-navigation .sidebar-item-text .menu-text {
  font-family: "Abel", sans-serif;
  font-size: 0.9rem;
  color: $primary;
}

.text-line {
  display: block;
  width: 0%;
  height: 3px;
  margin: auto;
  display: table;
  margin-top: -1px;
  margin-bottom: -6px;
}

.text-line-teach {
  background: #D4006A;
}
.text-line-research {
  background: #c19f7f;
}
.text-line-presentation {
  background: #9A4665;
}
.text-line-blog {
  background: #6636a9;
}
.text-line-db {
  background: #6ec742;
}
.text-line-cv {
  background: #4b74a9;
}
.text-line-pj {
  background:  #ffbc0b;
}
.text-line-cn {
  background: #666699;
}
.text-line-note {
  background: #e3abdb;
}

button.show-answer {
  background-color: #04AA6D;
  color: white;
  border: none;
  font-size: 1em;
  font-family:  'Titillium Web';
  text-align: center;
  padding: 10px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
}

button.show-answer:hover {
  background-color: white;
  color: #04AA6D;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Nice Paragraph */
.nice-paragraph {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #333;
    background-color: $soft-color1; /* Fallback if $soft-color1 is not defined */
    padding: 15px 20px;
    border-left: 0px solid #447099;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
    max-width: 100%;
    margin: 0px auto;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

/* Subtle Hover Effect */
.nice-paragraph:hover {
    /* background-color: #eef6fc; Light blue shade on hover */
    transform: scale(1.01); /* Slight zoom effect */
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1); /* Enhanced depth */
}

/* Decorative Glow Effect */
.nice-paragraph:hover::before {
    opacity: 1;
}

/* Optional - Animate border color on hover */
.nice-paragraph:hover {
    border-left: 0px solid #365e7d; /* Darker shade of blue */
}


/* Styling the tab container */
.panel-tabset {
    border-radius: 8px;
    overflow: hidden;
    border: 0.1px solid #ddd;
    padding: 1px 1px 1px;
    margin: 1em 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
}
/* Styling the tab navigation */
.panel-tabset .nav-tabs {
    border-bottom: 2px solid #447099;
    padding-left: 0px;
}
.panel-tabset .nav-tabs .nav-item {
    list-style: none;
}
.panel-tabset .nav-tabs .nav-link {
    font-family: "Abel", sans-serif;
    font-size: 1.1rem;
    font-style: bold;
    background: transparent;
    border-radius: 5px 5px 0 0;
    transition: all 0.3s ease;
}
.panel-tabset .nav-tabs .nav-link:hover {
    background: $green;
    color: $soft-color1;
}
.panel-tabset .nav-tabs .nav-link.active {
    background: $orange;
    color: $soft-color1;
    //border-bottom: 2px solid #365e7d;
}
/* Styling tab content */
.panel-tabset .tab-content {
    padding: 5px;
    background: $soft-color1;
    border: 0px solid #ddd;
    border-top: none;
    border-radius: 0 0 8px 8px;
}
/* Styling lists inside the tab */
.panel-tabset ul {
    padding-left: 15px;
}


/* Table styling */
table {
  font-family: "Abel", sans-serif;
  font-size: 0.9rem;
  width: 100%;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
}

th {
  background-color: #f8f9fa;
  border-bottom: 2px solid #dee2e6;
  padding: 0.25em;
  text-align: left;
}

td {
  padding: 0.25em;
  border-bottom: 1px solid #dee2e6;
}

/* Striped tables */
tr:nth-child(even) {
  background-color: #f8f9fa;
}

/* Hover effect */
tr:hover {
  border: 1.5px solid $orange;
}

/* Responsive tables */
@media screen and (max-width: 600px) {
  table {
    display: block;
    overflow-x: auto;
  }
}

.bigger {
  font-size: 2.5em;
  line-height: normal;
}


/* Timeline on About */
//Colors
$black-tl: #34435E;
$white-tl: #ffffff;

.timeline {

body {
  font-family: "Abel", sans-serif;
  margin: 0;
  padding: 0 4em;
}

main {
  min-width: 300px;
  max-width: 500px;
  margin: auto;
}

h3 {
  font-size: 1.2em;
  color: $black-tl;
  position: relative;
  padding-left: 0px;
  margin: auto;
}


p {
  font-size: .8em;
  line-height: 1.75em;
  border-top: 2px solid;
  border-image: linear-gradient(to right, #6636a9 0%, #9A4665 100%);
  border-image-slice: 1;
  border-width: 2px;
  margin: 0;
  padding: 5px 25px 15px;
  counter-increment: section;
  position: relative;
  color: $black-tl;

  //numbers
  &:before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 8px;
    height: 2.25em;
    width: 2.25em;
    background-color: $black-tl;
    text-align: center;
    line-height: 1.25em;
    color: $white-tl;
    font-size: 1em;
  }
}

//odd number borders
p:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0px;

  &:before {
    left: 100%;
    margin-left: -15px;
  }
}

//even number borders
p:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;

  &:before {
    right: 100%;
    margin-right: -15px;
  }
}
//handle first and last
p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
p:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

}
