@keyframes line-expand {
  from {width: 0%;}
  to {width: 90%;}
}

/* Cursor Customization */
body {
  cursor: url("https://img.icons8.com/?size=20&id=vTiD01dSnldt&format=png&color=000000"), auto;    
}
a:link {
  cursor: url("https://img.icons8.com/?size=20&id=42917&format=png&color=000000"), auto;    
}
.code-copy-button {
  cursor: url("https://img.icons8.com/?size=20&id=42917&format=png&color=000000"), auto;
}
/*end Cursor Styling*/

/* Icon underline */
.navbar-title:hover > .icon-line {
  animation-duration: 600ms;
  animation-name: line-expand;
}

.menu-text:hover > .text-line {
  animation-duration: 200ms;
  animation-name: line-expand;
  animation-fill-mode: forwards;
}

/* Dissuss: how to switch animation conditional on light or dark theme */
/* https://github.com/quarto-dev/quarto-cli/discussions/7713 */
body.quarto-light .menu-text:hover > .menutext-teach {
    animation-duration: 400ms;
    animation-name: changecolor-home-light;
    animation-fill-mode: forwards;
}
body.quarto-dark .menu-text:hover > .menutext-teach {
    animation-duration: 400ms;
    animation-name: changecolor-home-dark;
    animation-fill-mode: forwards;
}
@keyframes changecolor-home-light {
  from {color: #000000;}
  to {color: #D4006A;}
}
@keyframes changecolor-home-dark {
  from {color: #FFFFFF;}
  to {color: #D4006A;}
}

/* research */
body.quarto-light .menu-text:hover > .menutext-research {
  animation-duration: 400ms;
  animation-name: changecolor-research-light;
  animation-fill-mode: forwards;
}
body.quarto-dark .menu-text:hover > .menutext-research {
  animation-duration: 400ms;
  animation-name: changecolor-research-dark;
  animation-fill-mode: forwards;
}
@keyframes changecolor-research-light {
  from {color: #000000;}
  to {color: #c19f7f;}
}
@keyframes changecolor-research-dark {
  from {color: #FFFFFF;}
  to {color: #c19f7f;}
}
.menu-text:hover > .text-line-research  {
  animation-duration: 400ms;
  animation-name: line-expand;
  animation-fill-mode: forwards;
}

/* presentation */
body.quarto-light .menu-text:hover > .menutext-presentation {
  animation-duration: 400ms;
  animation-name: changecolor-presentation-light;
  animation-fill-mode: forwards;
}
body.quarto-dark .menu-text:hover > .menutext-presentation {
  animation-duration: 400ms;
  animation-name: changecolor-presentation-dark;
  animation-fill-mode: forwards;
}
@keyframes changecolor-presentation-light {
  from {color: #000000;}
  to {color: #9A4665;}
}
@keyframes changecolor-presentation-dark {
  from {color: #FFFFFF;}
  to {color: #9A4665;}
}
.menu-text:hover > .text-line-presentation  {
  animation-duration: 400ms;
  animation-name: line-expand;
  animation-fill-mode: forwards;
}


body.quarto-light .menu-text:hover > .menutext-blog {
  animation-duration: 400ms;
  animation-name: changecolor-blog-light;
  animation-fill-mode: forwards;
}
body.quarto-dark .menu-text:hover > .menutext-blog {
  animation-duration: 400ms;
  animation-name: changecolor-blog-dark;
  animation-fill-mode: forwards;
}
@keyframes changecolor-blog-light {
  from {color: #000000;}
  to {color: #6636a9;}
}
@keyframes changecolor-blog-dark {
  from {color: #FFFFFF;}
  to {color: #6636a9;}
}
.menu-text:hover > .text-line-blog {
  animation-duration: 400ms;
  animation-name: line-expand;
  animation-fill-mode: forwards;
}



/* Color switching for dashboar */
body.quarto-light .menu-text:hover > .menutext-db {
  animation-duration: 400ms;
  animation-name: changecolor-db-light;
  animation-fill-mode: forwards;
}
body.quarto-dark .menu-text:hover > .menutext-db {
  animation-duration: 400ms;
  animation-name: changecolor-db-dark;
  animation-fill-mode: forwards;
}
@keyframes changecolor-db-light {
  from {color: #000000;}
  to {color: #6ec742;}
}
@keyframes changecolor-db-dark {
  from {color: #FFF;}
  to {color: #6ec742;}
}
.menu-text:hover > .text-line-db {
  animation-duration: 400ms;
  animation-name: line-expand;
  animation-fill-mode: forwards;
}


/* Color switching for Project */
body.quarto-light .menu-text:hover > .menutext-pj {
  animation-duration: 400ms;
  animation-name: changecolor-pj-light;
  animation-fill-mode: forwards;
}
body.quarto-dark .menu-text:hover > .menutext-pj {
  animation-duration: 400ms;
  animation-name: changecolor-pj-dark;
  animation-fill-mode: forwards;
}
@keyframes changecolor-pj-light {
  from {color: #000000;}
  to {color:  #ffbc0b;}
}
@keyframes changecolor-pj-dark {
  from {color: #FFF;}
  to {color:	#ffbc0b;}
}
.menu-text:hover > .text-line-pj {
  animation-duration: 400ms;
  animation-name: line-expand;
  animation-fill-mode: forwards;
}

/* Color switching for Note */
body.quarto-light .menu-text:hover > .menutext-note {
  animation-duration: 400ms;
  animation-name: changecolor-note-light;
  animation-fill-mode: forwards;
}
body.quarto-dark .menu-text:hover > .menutext-note {
  animation-duration: 400ms;
  animation-name: changecolor-note-dark;
  animation-fill-mode: forwards;
}
@keyframes changecolor-note-light {
  from {color: #000000;}
  to {color: #e3abdb;}
}
@keyframes changecolor-note-dark {
  from {color: #FFF;}
  to {color: #e3abdb;}
}
.menu-text:hover > .text-line-note {
  animation-duration: 400ms;
  animation-name: line-expand;
  animation-fill-mode: forwards;
}



/* Color switching for 中文 */
body.quarto-light .menu-text:hover > .menutext-cn {
  animation-duration: 400ms;
  animation-name: changecolor-cn-light;
  animation-fill-mode: forwards;
}
body.quarto-dark .menu-text:hover > .menutext-cn {
  animation-duration: 400ms;
  animation-name: changecolor-cn-dark;
  animation-fill-mode: forwards;
}
@keyframes changecolor-cn-light {
  from {color: #000000;}
  to {color: #666699;}
}
@keyframes changecolor-cn-dark {
  from {color: #FFF;}
  to {color: #ccccff;}
}
.menu-text:hover > .text-line-cn {
  animation-duration: 400ms;
  animation-name: line-expand;
  animation-fill-mode: forwards;
}

/* 萌娘百科上的黑幕效果 */
.heimu, .heimu a, a .heimu, .heimu a.new {
    background-color: #252525;
    color: #252525;
    text-shadow: none;
}
.heimu:hover, .heimu:active,
.heimu:hover .heimu, .heimu:active .heimu {
    color: white !important;
}
.heimu:hover a, a:hover .heimu,
.heimu:active a, a:active .heimu {
    color: lightblue !important;
}
.heimu:hover .new, .heimu .new:hover, .new:hover .heimu,
.heimu:active .new, .heimu .new:active, .new:active .heimu {
    color: #BA0000 !important;
}

/* 萌娘百科上的文字模糊效果 */
.mohu, .mohu a, a .mohu, .mohu a.new {
    background-color: #FAF9F6;
    color: #252525;
    text-shadow: none;
    filter: blur(8px);
}
.mohu:hover, .mohu:active,
.mohu:hover .mohu, .mohu:active .mohu {
    filter: none !important;
}

.redcolor, .redcolor a, a .redcolor, .redcolor a.new {
  color: #e60000; /* Bright red text */
  background-color: #ccccff; /* Light blue background */
  font-weight: bold; /* Makes the text bold */
  padding: 5px; /* Adds spacing around the text */
  border-radius: 5px; /* Softens the background edges */
  display: inline-block; /* Ensures proper background wrapping */
}


