/*-- scss:defaults --*/
/* Lesson Color Scheme  */
.objectives {
  background-color:#daee8420
}
.discussion {
  background-color:#eec27520
}

.objectives {
  padding:0 0 5px 5px;
  border:1px solid;
  border-color:#daee84;
  border-radius:4px;
  margin:15px 5px 10px 0
}
.objectives h2 {
  padding-top:5px;
  padding-bottom:5px;
  font-size:20px;
  background:linear-gradient(to bottom, #daee84, #def090);
  border-color:#daee84;
  margin-top:0px;
  margin-left:-5px
}
.objectives h2:before {
  font-family:'Glyphicons Halflings';
  content:"⦿";
  float:left;
  padding-left:5px;
  padding-right:5px;
  display:inline-block;
  -webkit-font-smoothing:antialiased
}

.discussion {
  padding:0 0 5px 5px;
  border:1px solid;
  border-color:#eec275;
  border-radius:4px;
  margin:15px 5px 10px 0
}
.discussion h2 {
  padding-top:5px;
  padding-bottom:5px;
  font-size:20px;
  background:linear-gradient(to bottom, #eec275, #f0c883);
  border-color:#eec275;
  margin-top:0px;
  margin-left:-5px
}
.discussion h2:before {
  font-family:'Glyphicons Halflings';
  content:"❖";
  float:left;
  padding-left:5px;
  padding-right:5px;
  display:inline-block;
  -webkit-font-smoothing:antialiased
}