@import url('https://fonts.cdnfonts.com/css/minion-pro');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

$red:         #A6192E !default;
$purple:      #80225F !default;
$deep-red:    #76232F !default;
$magenta:     #C6007E !default;
$charcoal:    #373A36 !default;
$bright-red:  #D6001C !default;
$sand:        #D6D2C4 !default;
$white:       #fff !default;
$green:       #00AA4F !default;
$stone:       #424242 !default;

$colors: (
  "red":        $red,
  "purple":     $purple,
  "deep-red":   $deep-red,
  "magenta":    $magenta,
  "charcoal":   $charcoal,
  "bright-red": $bright-red,
  "sand":       $sand,
  "white":      $white,
  "green":      $green
) !default;

$tabset-border-color: $sand;



/*Resources
1. https://brand.uark.edu/social-media/downloads.php
2. Logo: https://brand.uark.edu/graphic-identity/logos-and-wordmarks/index.php
*/

/*-- scss:uses --*/

/*-- scss:functions --*/

/*-- scss:defaults --*/
// Headings
//$headingTextTransform: uppercase;

$body-bg:                   $white !default;
$body-color:                $charcoal !default;

$link-color:                              $red !default;

$font-family-sans-serif:      'Abel', sans-serif !default;
$presentation-font-size-root: 2.3em !default;

$presentation-title-slide-text-align: left;

// Code Blocks
$code-block-font-size: 70% !default;
//$code-block-bg:  #F5F5F5 !default;

/* -- scss:mixins --*/

/*-- scss:rules --*/

.section-header-text{
  font-size: 200% !important;
  font-weight: bold;
  text-transform: capitalize;
}

.section-subheader-text{
  font-size: 100%;
  color: $red;
  font-weight: bold;
  text-transform: uppercase;
}

// UArk Logo
.slide-logo {
  display: block;
  position: fixed;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  min-height: 10%;
  max-height: 2.5em  !important;
  height: 8%;
  width: auto;
  color: $white;
}

// Title
.reveal .slides s.p {
  font-size: 95% !important;
}

#title-slide{
  top: 2em !important;
  font-size: 90% !important;
  margin-top: 10vh;
  
  .quarto-title-authors {
    display: flex;
    justify-content: left;
  
  .quarto-title-author {
      padding-left: 0em;
      padding-right: 0em;
      width: 100%;
      font-size: 120%;
      .quarto-title-author-name {
        font-weight: bold;
      }
      
      p {
        color: $stone;
      }
    }
  }
}

.subtitle{
  font-size: 100% !important;
  color: $red;
  font-weight: normal;
  text-transform: uppercase;
}

.center{
  background-color: $sand !important;
}

.reveal .slides h1{
  //text-transform: capitalize;
}

.reveal .slides h2{
  text-transform: capitalize !important;
  font-size: 3.5rem;
  margin-bottom: 1em;
  margin-top: 0.3em;
}

.reveal .slides h3 {
  text-transform: capitalize !important;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  font-size: 3rem;
}

.reveal .slides h2::before {
  content:"";
  position: absolute;
  border-bottom: 0.08em solid $charcoal; /*use this to adjust underlin color and size*/
  width:100%;  /*use this to adjust underline width*/
  height:1.5em; /*use this to adjust underline position*/
}


.v-center-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/* Code styling */
code span.er {
  color: #ebcb8b;
  text-decoration: none;
}

.reveal div.cell-output-stdout::before{
  content: "R Output:";
  color: $red;
  background-color: #f2eff6;
  display: block;
  border-radius: 8px;
  font-weight: bold;
  padding: 3px 5px;
  font-family: 'Taub Sans', monospace;
}

.reveal div.cell-output-stdout{ // outside of code block
  border-radius: 8px;
  border: 2px solid $purple;
  margin-bottom: 1em; // spacing between output box to next element
}

.reveal .slides code{ // for in-line code
  background-color: #e5eaf5;
  border-radius: 8px;
  color: $stone !important;
}

// Colours
.red{
  color: $red !important;
}

.purple{
  color: $purple !important;
}

.deep-red{
  color: $deep-red !important;
}

.magenta{
  color: $magenta !important;
}

.charcoal{
  color: $charcoal !important;
}

.bright-red{
  color: $bright-red !important;
}

.sand{
  color: $sand !important;
}

.white{
  color: $white !important;
}

.green{
  color: $green !important;
}

// Hover Text
.hovertext {
  position: relative;
  border-bottom: 1px dotted $charcoal;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0.5;
  width: 480px;
  background-color: $charcoal;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}


strong {
  color: $red;
  text-decoration: $green dashed underline 3px;
  text-decoration-skip-ink: none;
}

/*-- stripped table --*/
.reveal table {
  border: 1px solid $stone;
  width: 100%;
  td:hover {background-color: #ebcb8b;} /* Hover color */
  th {
    text-align: center;
    background-color: #04AA6D;
    color: white;
    border-bottom: 1px solid #ddd;
  }
  td {
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
}

 

.table-striped {
  > thead > tr > th {
    background-color: $stone;
    color: white;
  }
  > tbody > tr:nth-of-type(odd) > * {
    background-color: #f2f2f2;
  }
  > tbody > tr:nth-of-type(even) > * {
    background-color: $sand;
  }
}

/*Details */

details > p {
  border-radius: 0 0 10px 10px;
  background-color: #ddd;
  padding: 2px 6px;
  margin: 0;
  box-shadow: 3px 3px 4px black;
}

details[open] > summary {
  background-color: #ccf;
}

/* 萌娘百科上的黑幕效果 */
.heimu, .heimu a, a .heimu, .heimu a.new {
    background-color: #252525;
    color: #252525;
    text-shadow: none;
}
.heimu:hover, .heimu:active,
.heimu:hover .heimu, .heimu:active .heimu {
    color: white !important;
}
.heimu:hover a, a:hover .heimu,
.heimu:active a, a:active .heimu {
    color: lightblue !important;
}
.heimu:hover .new, .heimu .new:hover, .new:hover .heimu,
.heimu:active .new, .heimu .new:active, .new:active .heimu {
    color: #BA0000 !important;
}

/* 萌娘百科上的文字模糊效果 */
.mohu, .mohu a, a .mohu, .mohu a.new {
    background-color: #FAF9F6;
    color: #252525;
    text-shadow: none;
    filter: blur(8px);
}
.mohu:hover, .mohu:active,
.mohu:hover .mohu, .mohu:active .mohu {
    filter: none !important;
}

.callout-content, .callout-tip {
  font-size: 1.4em;
}

button.show-answer {
  background-color: #04AA6D;
  color: white;
  border: none;
  font-size: 1em;
  font-family:  'Titillium Web';
  text-align: center;
  padding: 10px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
}

button.show-answer:hover {
  background-color: white;
  color: #04AA6D;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.redcolor, .redcolor a, a .redcolor, .redcolor a.new {
  color: #e60000; /* Bright red text */
  background-color: #ccccff; /* Light blue background */
  font-weight: bold; /* Makes the text bold */
  padding: 5px; /* Adds spacing around the text */
  border-radius: 5px; /* Softens the background edges */
  display: inline-block; /* Ensures proper background wrapping */
}

.bluecolor, .bluecolor a, a .bluecolor, .bluecolor a.new {
  color: #0000e6; /* Deep blue text */
  background-color: #D6D2C4; /* Light red/pink background */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
  font-weight: bold; /* Bold text for emphasis */
  padding: 5px; /* Adds spacing for better readability */
  border-radius: 5px; /* Rounded corners for aesthetics */
  display: inline-block; /* Ensures the background properly wraps */
}

.bigger {
  font-size: 33px;
  font-size: 3.5rem;
}