on:
  workflow_dispatch:
  push:
    branches: main

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4 

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          # To install LaTeX to build PDF book 
          tinytex: true 
      # add software dependencies here and any libraries
      # From https://github.com/actions/setup-python
      #- name: Setup Python
      #  uses: actions/setup-python@v3
      # https://github.com/julia-actions/setup-julia
      - name: Setup Julia
        uses: julia-actions/setup-julia@v1
        with: 
          version: '1.6'
      # From https://github.com/r-lib/actions/tree/v2-branch/setup-r
      - name: Setup R
        uses: r-lib/actions/setup-r@v2
      # From https://github.com/r-lib/actions/tree/v2/setup-r-dependencies
      - name: Install R dependences
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache: true
          cache-version: 2
          packages:
            any::knitr
            any::rmarkdown
            any::downlit
            any::xml2
      # From https://github.com/julia-actions/setup-julia
      #- name: Setup Julia
      #  uses: julia-actions/setup-julia@v1
      - name: Publish to Netlify (and render)
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: netlify
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
